*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}

html {
  height: 100dvh;
  width: 100dvw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Mulish', sans-serif;
}